body {
}

.hide {
  border: solid 0.1em;
  background-color: white;
  border-color: black;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
}

.square-txt {
  top: 815px;
  left: 1130px;
}

.star-txt {
  top: 1070px;
  left: 970px;
}
